body {
    background-color: #eee;
}

div.row {
    background-color: #fff;
}

.titlebar {
    background-color: #333;
    border-bottom: 1px solid #eee;
}

.titlebar a, .icon-bar a {
    color: #eee;
}

div.vspace {
    padding-top: 1.5rem;
}
ul.status {
    margin-left: 1.1rem;
    margin-right: 1.1rem;
}

ul.status div {
    padding: .5em 0;
    border: 1px solid #eee;
}

ul.scans {
    margin-right: 1.1rem;
}

li.scan {
    list-style-type: none;
    border: 1px solid #eee;
    padding: .5em;
}

h1.icon, li.scan h4 {
    display: inline-block;
    margin-right: .25em;
    margin-left: .25em;
}

li#scan-template {
    display: none;
}

.scanstats {
    font-size: small;
}

.scanstats a.cancel {
    color: #f04124;
}

.scanstats a.canceled {
    color: #ddd;
}

table.wide {
    width: 100%;
}

form#record_filter_form label.left.inline {
    margin-left: 1rem;
}

div.record_image_div {
    display: inline-block;
    margin: 1em;
}
div.record_image_div a {
    display: block;
}

img.record_image {
    max-width: 350px;
    max-height: 350px;
}

.scan-status.success { background-color: lightgreen; }
.scan-status.running { background-color: lightblue; }
.scan-status.aborted { background-color: lightgoldenrodyellow; }
.scan-status.queued { }
.scan-status.failed { background-color: lightcoral;}
