{% extends "base.html" %}

{% block content %}
<div class="row vspace">
    <div class="large-12 columns">
        <h3>Состояние</h3>

        <ul class="small-block-grid-6 status text-center">
            <li><div><h4>123456</h4><span>Записей</span></div></li>
            <li><div><h4>12345</h4><span>В наличии</span></div></li>
            <li><div><h4>234567</h4><span>Картинок</span></div></li>
            <li><div><h4>34.5</h4><span>Гигабайт</span></div></li>
            <li><div><h4>4321</h4><span>Лотов</span></div></li>
            <li><div><h4>7</h4><span>Ошибок</span></div></li>


        </ul>
    </div>
</div>
<div class="row vspace">
    <div class="large-12 columns">
        <h3>Сканы</h3>
        <ul class="scans">
            <li class="scan">
                <h1 class="icon"><i class="fi-download"></i></h1>
                <h4>Rock &amp; Pop</h4>

                <div class="right scanstats text-right">
                    <span>150 страниц из 900</span>
                    <br>
                    <span class="success">~ 2 часа 30 минут</span>
                    <br>
                    <span class="success">Работает</span>

                </div>

                <div class="progress">
                    <span class="meter" style="width: 20%"></span>
                </div>

            </li>

        </ul>
    </div>
</div>


{% endblock %}
