<table border="1">
    <tr>
        <th>id</th>
        <th>genre</th>
        <th>artist</th>
        <th>title</th>
        <th>label</th>
        <th>grade</th>
        <th>format</th>
        <th>price</th>
        <th>notes</th>
    </tr>
    {% for row in rows %}
    <tr>
        <td>{{ row['id'] }}</td>
        <td>{{ row['genre_title'] }}</td>
        <td>{{ row['artist'] }}</td>
        <td>{{ row['title'] }}</td>
        <td>{{ row['label'] }}</td>
        <td>{{ row['grade'] }}</td>
        <td>{{ row['format'] }}</td>
        <td>{{ row['price'] }}</td>
        <td>{{ row['notes'] }}</td>
    </tr>
    {% endfor %}
</table>
