<div class="row">
  <div class="large-12 columns titlebar">
    <h2><a href="{{ url_for('.home') }}">recordsbymail.com → molotok.ru</a></h2>
  </div>

    <div class="icon-bar five-up">
      <a class="item" href="{{ url_for('.home') }}">
        <i class="fi-home"></i>Главная
      </a>
      <a class="item">
        <i class="fi-database"></i>Жанры
      </a>
      <a class="item">
        <i class="fi-record"></i>Записи
      </a>
      <a class="item">
        <i class="fi-download"></i>Импорт
      </a>
      <a class="item">
        <i class="fi-upload"></i>Экспорт
      </a>
    </div>
</div>